@namespace Blazorify.Bootstrap
@inherits BuiContentComponentBase

<nav class="navbar @ClassList">
	<BuiContainer Fluid="Fluid">
		@if (NavbarBrand != null) {
			@NavbarBrand(new BuiNavbarBrand())
		} else {
			<BuiNavbarBrand>
				@BrandName
			</BuiNavbarBrand>
		}

		<BuiNavbarToggler />

		@if(NavbarCollapse != null) {
			@NavbarCollapse(new BuiNavbarCollapse())
		} else {
			<BuiNavbarCollapse>
				@NavbarNav
			</BuiNavbarCollapse>
		}
	</BuiContainer>
</nav>
