@namespace Blazorify.Bootstrap
@inherits BuiContentComponentBase

<button type="button" class="navbar-toggler" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
</button>
