@namespace Blazorify.Bootstrap
@inherits BuiContentComponentBase

@if (String.IsNullOrWhiteSpace(this.Href)) {
	<div class="navbar-brand">
		@ChildContent
	</div>
} else {
	<a class="navbar-brand" href="@Href">
		@ChildContent
	</a>
}
