@namespace Blazorify.Bootstrap
@inherits BuiContentComponentBase

<nav class="navbar navbar-expand-lg @ClassList">
	<BuiContainer Fluid="Fluid">
		@if (BuiNavbarBrand != null) {
			@BuiNavbarBrand(new BuiNavbarBrand())
		} else {
			<BuiNavbarBrand>
				@BrandName
			</BuiNavbarBrand>
		}
	</BuiContainer>

	<BuiNavbarToggler />

	<BuiNavbarCollapse>
		@ChildContent
	</BuiNavbarCollapse>
</nav>
