<div class="modal fade @(Shown ? "show" : "")" tabindex="-1" style="display: @(Shown ? "block" : "none");">
	<div class="modal-dialog @(Fullscreen ? "modal-fullscreen" : "")">
		<div class="modal-content">
			<CascadingValue Value="this">
				@ChildContent
			</CascadingValue>
		</div>
	</div>
</div>
