@namespace Blazorify.Bootstrap
@inherits BuiContentComponentBase

@if (!String.IsNullOrWhiteSpace(Href)) {
	<a class="list-group-item @ClassList" href="@Href">
		@ChildContent
	</a>
} else {
	<div class="list-group-item @ClassList">
		@ChildContent
	</div>
}
